@model SensoreApp.Models.SensorDevices

@{
    ViewData["Title"] = "Edit Device";
}

<div class="container mt-4">

    <div class="card shadow-sm">
        <div class="card-header bg-warning text-dark">
            <h4 class="mb-0">Edit Sensor Device</h4>
        </div>

        <div class="card-body">

            <form asp-action="Edit" method="post">

                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="SensorDeviceID" />

                <div class="mb-3">
                    <label class="form-label">Device Name</label>
                    <input asp-for="Model" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Serial Number</label>
                    <input asp-for="SerialNumber" class="form-control" />
                </div>

                <div class="form-check mb-3">
                    <input asp-for="IsActive" class="form-check-input" />
                    <label class="form-check-label">Active?</label>
                </div>

                <button type="submit" class="btn btn-warning">
                    <i class="bi bi-save"></i> Save Changes
                </button>

                <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
            </form>
        </div>
    </div>
</div>

