@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h1>@ViewData["Title"]</h1>

<main>
    <ul>
        <li>
            <details>
                <summary>Will Sensore be compatible with my wheelchair?</summary>
                We’re confident that Sensore is compatible with most wheelchair seats and cushions. If you’re having any difficulty setting it up with your chair, we’ll happily send one of our friendly engineers to assist you (free of charge) and if we can’t get it working to your satisfaction, you’re fully covered by our money-back guarantee.
                Have a unique setup? Get in touch! Our team will be glad to test it and find the best solution for you.
            </details>
        </li>
        <li>
            <details>
                <summary>Is my personal data safe?</summary>
                We built Sensore to the highest data security protocols. Your data is encrypted in transit and we never share your information with third parties without your explicit consent.
            </details>
        </li>
        <li>
            <details>
                <summary>Does Sensore work without Wi-Fi?</summary>
                Sensore mat continuously measures your pressure distribution with or without internet access - and will upload to the app when it regains a WiFi connection.
                Please note: without internet access, some Sensore App features such as Live View & Smart Alerts will not be available.
            </details>
        </li>
    </ul>
</main>
<aside>
    <h2>Need more help?  Contact us:</h2>
    <ul>
        <li><a href="mailto:info@sensore.health">info@sensore.health</a></li>
        <li>(+44) 07755511223</li>
    </ul>
</aside>