@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h1>@ViewData["Title"]</h1>

<main>
    <ul>
        <li>
            <details>
                <summary>How do I use the product?</summary>
                Use the product on your wheelchair.
            </details>
        </li>
        <li>
            <details>
                <summary>When do I use the product?</summary>
                Use the product when using your wheelchair.
            </details>
        </li>
    </ul>
</main>
<aside>
    <h2>Need more help?  Contact us:</h2>
    <ul>
        <li><a href="mailto:info@sensore.health">info@sensore.health</a></li>
        <li>(+44) 07755511223</li>
    </ul>
</aside>